/* Static */
/* Elements follow the normal document flow*/

/* Relative */
/* Relative to its original position */
#relative {
    background-color: #fc0;
    position: relative;
    /* top, right, bottom, left */
    top: 20px;
    left: 10px;
  }
  
  /* Absolute */
/* Remove the element from the normal document flow */
/* Relative to the parent container that have a position that is not static */
#absolute {
    background-color: #0cf;
    position: absolute;
    /* top, right, bottom, left */
    bottom: 0px;
    right: 0px;
  }

  /* Fixed */
/* relative to the viewport */
/* stays at the same place when you scroll. */
#fixed {
    background-color: #f00;
    position: fixed;
    /* top, right, bottom, left */
    bottom: 0;
    right: 0;
  }

  /* Sticky */
/* Starts as relative. When it hits a certain point, it will stick to it*/
#sticky {
    background-color: #3c3;
    position: sticky;
    /* top, right, bottom, left */
    top: 0%;
  }

  